# SPDX-License-Identifier: BSD-2-Clause

menu "RPXY Device Support"

config FDT_RPXY
	bool "FDT based RPXY drivers"
	depends on FDT
	default n

if FDT_RPXY
config FDT_RPXY_SPD
	bool "FDT RPXY SPD client driver"
	default n

endif
endmenu
