/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	compatible = "andestech,ae350";
	model = "andestech,ax65";
	serial-number = "522b696bd";
	aliases {
		uart0 = &serial0;
		spi0 = &spi;
	};

	chosen {
		bootargs = "console=ttyS0,38400n8 debug loglevel=7 earlycon=sbi";
		stdout-path = "uart0:38400n8";
		opensbi-domains {
			compatible = "opensbi,domain,config";
			system-suspend-test;

			tmem: tmem {
				compatible = "opensbi,domain,memregion";
				base = <0x00 0x10000000>;
				order = <24>;
			};

			allmem: allmem {
				compatible = "opensbi,domain,memregion";
				base = <0x00 0x00>;
				order = <64>;
			};

			tdomain: trusted-domain {
				compatible = "opensbi,domain,instance";
				possible-harts = <&CPU0 &CPU1>;
				//   (E|SUX|SUW| SUR|MX|MW|MR)
				regions = <&allmem 0x38>;
				boot-hart = <&CPU0>;
				//next-arg1 = <0x00 0x0187de58>; // dtb : FW_JUMP   : 0x02200000,
							       //       FW_DYNAMIC: use $a1 given by SPL
				next-addr = <0x00 0x10000000>; // tee.bin
				next-mode = <0x01>;
			};

			udomain: untrusted-domain {
				compatible = "opensbi,domain,instance";
				possible-harts = <&CPU0 &CPU1>;
				//   (E|SUX|SUW| SUR|MX|MW|MR)
				regions = <&tmem 0x0 &allmem 0x3f>;
				boot-hart = <&CPU0>;
				//next-arg1 = <0x00 0x0187de58>; // dtb : FW_JUMP   : 0x2200000,
							       //       FW_DYNAMIC: 0x0187de58
				next-addr = <0x00 0x01800000>; // u-boot
				next-mode = <0x01>;
			};
		};
	};
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <60000000>;
		CPU0: cpu@0 {
			device_type = "cpu";
			reg = <0>;
			status = "okay";
			compatible = "riscv";
			opensbi-domain = <&tdomain>;
			riscv,isa = "rv64imafdc_zba_zbb_zbc_zbkb_zbkc_zbkx_zbs_zicbom_zkn_zknd_zkne_zknh_zks_zksed_zksh_zkt_sscofpmf_svinval_svnapot_svpbmt_xandes";
			riscv,priv-major = <1>;
			riscv,priv-minor = <10>;
			riscv,cbom-block-size = <64>;
			mmu-type = "riscv,sv48";
			clock-frequency = <60000000>;
			i-cache-size = <0x10000>;
			i-cache-sets = <256>;
			i-cache-line-size = <64>;
			i-cache-block-size = <64>;
			d-cache-size = <0x10000>;
			d-cache-sets = <256>;
			d-cache-line-size = <64>;
			d-cache-block-size = <64>;
			next-level-cache = <&L2>;
			CPU0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
			};
		};
		CPU1: cpu@1 {
			device_type = "cpu";
			reg = <1>;
			status = "okay";
			compatible = "riscv";
			opensbi-domain = <&tdomain>;
			riscv,isa = "rv64imafdc_zba_zbb_zbc_zbkb_zbkc_zbkx_zbs_zicbom_zkn_zknd_zkne_zknh_zks_zksed_zksh_zkt_sscofpmf_svinval_svnapot_svpbmt_xandes";
			riscv,priv-major = <1>;
			riscv,priv-minor = <10>;
			riscv,cbom-block-size = <64>;
			mmu-type = "riscv,sv48";
			clock-frequency = <60000000>;
			i-cache-size = <0x10000>;
			i-cache-sets = <256>;
			i-cache-line-size = <64>;
			i-cache-block-size = <64>;
			d-cache-size = <0x10000>;
			d-cache-sets = <256>;
			d-cache-line-size = <64>;
			d-cache-block-size = <64>;
			next-level-cache = <&L2>;
			CPU1_intc: interrupt-controller {
				#interrupt-cells = <1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
			};
		};
	};
	L2: l2-cache@e0500000 {
		compatible = "cache";
		cache-level = <2>;
		cache-size = <0x200000>;
		reg = <0x00000000 0xe0500000 0x00000000 0x00010000>;
		andes,inst-prefetch = <3>;
		andes,data-prefetch = <3>;
		// The value format is <XRAMOCTL XRAMICTL>
		andes,tag-ram-ctl = <0 0>;
		andes,data-ram-ctl = <0 0>;
	};
	memory@0 {
		reg = <0x00000000 0x00000000 0x00000000 0x80000000>;
		device_type = "memory";
	};
	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "andestech,riscv-ae350-soc", "simple-bus";
		ranges;
		sbi-rpxy-tee {
			opensbi-rpxy-tee-name = "linaro,optee";
			opensbi-domain-instance = <&tdomain>;
			compatible = "riscv,sbi-rpxy-tee";
		};
		plic0: interrupt-controller@e4000000 {
			compatible = "riscv,plic0";
			reg = <0x00000000 0xe4000000 0x00000000 0x02000000>;
			interrupts-extended = < &CPU0_intc 11 &CPU0_intc 9 &CPU1_intc 11 &CPU1_intc 9>;
			interrupt-controller;
			#address-cells = <2>;
			#interrupt-cells = <2>;
			riscv,ndev = <71>;
		};
		plic1: interrupt-controller@e6400000 {
			compatible = "andestech,plicsw";
			reg = <0x00000000 0xe6400000 0x00000000 0x00400000>;
			interrupts-extended = < &CPU0_intc 3 &CPU1_intc 3>;
			interrupt-controller;
			#address-cells = <2>;
			#interrupt-cells = <2>;
			riscv,ndev = <2>;
		};
		plmt0: plmt0@e6000000 {
			compatible = "andestech,plmt0";
			reg = <0x00000000 0xe6000000 0x00000000 0x00100000>;
			interrupts-extended = < &CPU0_intc 7 &CPU1_intc 7>;
		};
		spiclk: virt_100mhz {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <100000000>;
		};
		timer0: timer@f0400000 {
			compatible = "andestech,atcpit100";
			reg = <0x00000000 0xf0400000 0x00000000 0x00001000>;
			interrupts = <3 4>;
			interrupt-parent = <&plic0>;
			clock-frequency = <60000000>;
		};
		pwm: pwm@f0400000 {
			compatible = "andestech,atcpit100-pwm";
			reg = <0x00000000 0xf0400000 0x00000000 0x00001000>;
			interrupts = <3 4>;
			interrupt-parent = <&plic0>;
			clock-frequency = <60000000>;
			pwm-cells = <2>;
		};
		wdt: wdt@f0500000 {
			compatible = "andestech,atcwdt200";
			reg = <0x00000000 0xf0500000 0x00000000 0x00001000>;
			interrupts = <3 4>;
			interrupt-parent = <&plic0>;
			clock-frequency = <60000000>;
		};
		serial0: serial@f0300000 {
			compatible = "andestech,uart16550", "ns16550a";
			reg = <0x00000000 0xf0300000 0x00000000 0x00001000>;
			interrupts = <9 4>;
			interrupt-parent = <&plic0>;
			clock-frequency = <19660800>;
			current-speed = <38400>;
			reg-shift = <2>;
			reg-offset = <32>;
			reg-io-width = <4>;
			no-loopback-test = <1>;
		};
		rtc0: rtc@f0600000 {
			compatible = "andestech,atcrtc100";
			reg = <0x00000000 0xf0600000 0x00000000 0x00001000>;
			interrupts = <1 4 2 4>;
			interrupt-parent = <&plic0>;
			wakeup-source;
		};
		gpio: gpio@f0700000 {
			compatible = "andestech,atcgpio100";
			reg = <0x00000000 0xf0700000 0x00000000 0x00001000>;
			interrupts = <7 4>;
			interrupt-parent = <&plic0>;
			wakeup-source;
		};
		mac0: mac@e0100000 {
			compatible = "andestech,atmac100";
			reg = <0x00000000 0xe0100000 0x00000000 0x00001000>;
			interrupts = <19 4>;
			interrupt-parent = <&plic0>;
			dma-coherent;
		};
		mmc0: mmc@f0e00000 {
			compatible = "andestech,atfsdc010g";
			reg = <0x00000000 0xf0e00000 0x00000000 0x00001000>;
			interrupts = <18 4>;
			interrupt-parent = <&plic0>;
			clock-freq-min-max = <400000 100000000>;
			max-frequency = <100000000>;
			fifo-depth = <16>;
			dmas = <&dma0 9>;
			dma-names = "rxtx";
			dma-coherent;
		};
		dma0: dma@f0c00000 {
			compatible = "andestech,atcdmac300g";
			reg = <0x00000000 0xf0c00000 0x00000000 0x00001000>;
			interrupts = <10 4>;
			interrupt-parent = <&plic0>;
			dma-channels = <8>;
			#dma-cells = <1>;
			dma-coherent;
		};
		spi: spi@f0b00000 {
			compatible = "andestech,atcspi200";
			reg = <0x00000000 0xf0b00000 0x00000000 0x00001000>;
			interrupts = <4 4>;
			interrupt-parent = <&plic0>;
			#address-cells = <1>;
			#size-cells = <0>;
			num-cs = <1>;
			clocks = <&spiclk>;
			flash@0 {
				compatible = "jedec,spi-nor";
				reg = <0x00000000>;
				spi-max-frequency = <50000000>;
				spi-cpol;
				spi-cpha;
			};
		};
		es100: es100@f0900000 {
			compatible = "andestech,es100";
			reg = <0x00000000 0xf0900000 0x00000000 0x00001000>;
		};
	};
};
