CONFIG_PLATFORM_ANDES_AE350=y
CONFIG_FDT_IPI=y
CONFIG_FDT_IPI_PLICSW=y
CONFIG_FDT_IRQCHIP=y
CONFIG_FDT_IRQCHIP_PLIC=y
CONFIG_FDT_RESET=y
CONFIG_FDT_RESET_ATCWDT200=y
CONFIG_FDT_SERIAL=y
CONFIG_FDT_SERIAL_UART8250=y
CONFIG_FDT_TIMER=y
CONFIG_FDT_TIMER_PLMT=y
CONFIG_ANDES_TRIGGER=y
CONFIG_ANDES_PMA=y
