# SPDX-License-Identifier: BSD-2-Clause

menu "RAS Agent Driver Support"

config FDT_RAS
	bool "FDT based RAS drivers"
	depends on FDT
	default y

if FDT_RAS

config FDT_RAS_RPMI
        bool "FDT RPMI RAS driver"
        default y

endif

endmenu
