# SPDX-License-Identifier: BSD-2-Clause

config ANDES_TRIGGER
	bool "Andes Trigger support"
	default n

config ANDES_PMA
	bool "Andes PMA support"
	default n

config ANDES_SBI
	bool "Andes SBI support"
	select ANDES_TRIGGER
	select ANDES_PMA
	select FDT_CACHE
	default n
